/* ALL CREDIT TO CMDR EXIGIOUS AND CMDR METSYS FOR THIS OVERLAY. */
/* THEY DID MOST OF THE WORK, I JUST WANTED TO MODIFY THE COLORS. */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');

.custom.controller {
    width: 1900px;
    height: 360px;
    font-family: 'Rajdhani', sans-serif;
}

.custom .bumper.pressed:after, .custom .button.pressed:after{
    background: #ff6600;
    color: black;
    border-color: black;
    transition: none
}

.custom .stick{
    width: 20px;
    height: 20px;
    background: #03b2e1;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.custom .bumper:after, .custom .button:after{
    position: absolute;
    display: inline-block;
    background: black;
    border: 2px solid #ff6600;
    color: #03b2e1;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    white-space: nowrap;
    transition: 1s all linear
}

/* - END COMMON STUFF - */
.custom .sticks{
    width: 135px;
    height: 135px;
    display: inline-block;
    position: relative;
    background: black;
    border: 2px solid #ff6600;
    border-radius: 15px;
    background-image: linear-gradient(0deg, transparent 48%, #742e00 49%, #742e00 50%, #742e00 51%, transparent 52%, transparent), linear-gradient(90deg, transparent 48%, #742e00 49%, #742e00 50%, #742e00 51%, transparent 52%, transparent);
    top: calc(195px);
    right: -100%;
    transform: translateX(-100%);
    background-size: calc(100% - 15px) 100%, 100% calc(100% - 15px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;

    /*We keep this stuff above to make sure the other stick
    is in the right location while we hide background.*/
    background: none;
    border-color: transparent;
}

/* This part makes up the background of the Yaw part */
.custom .triggers{
    width: 129px;
    height: 20px;
    display: inline-block;
    background: black;
    position: absolute;
    border: 2px solid #ff6600;
    border-radius: 20px;
    background-image: linear-gradient(90deg, transparent 48%, #742e00 49%, #742e00 50%, #742e00 51%, transparent 52%, transparent);
    background-size: 100% calc(100% - 10px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    right: 0;
    top: 125px
}

/* Here we position the title for the Yaw axis */
.custom .triggers:after{
    content: "YAW";
    display: inline-block;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #03b2e1;
    top: -1em;
    right: 50%;
    transform-origin: center;
    transform: translateX(50%);
}

/* This is to hide the stick we're not using */
.custom .stick.left{
    display: none;
}
/* This is to position the Yaw pointer */
.custom .stick.right{
    top: calc(-55px);
    left: 50%;
}